USE [master]
GO
/****** Object:  Database [MensajeriaDB]    Script Date: 15/09/2020 18:30:54 ******/
CREATE DATABASE [MensajeriaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MensajeriaDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\MensajeriaDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MensajeriaDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\MensajeriaDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MensajeriaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MensajeriaDB]
GO
/****** Object:  UserDefinedFunction [dbo].[FunAgregarUsuario]    Script Date: 15/09/2020 18:30:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[FunAgregarUsuario](@nic nvarchar(10)) 

returns int
begin
Declare @id int;

Select @id = ID from Usuario where @nic = Nick;

return @id;
end;
GO
/****** Object:  Table [dbo].[Mensajes]    Script Date: 15/09/2020 18:30:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mensajes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EM] [int] NULL,
	[RE] [int] NULL,
	[FECHA] [datetime] NULL,
	[TEXTO] [nvarchar](max) NULL,
 CONSTRAINT [PK_Mensajes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 15/09/2020 18:30:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nick] [nvarchar](10) NULL,
	[Contraseña] [nvarchar](10) NULL,
	[Nombre] [nvarchar](30) NULL,
	[Descripcion] [nvarchar](50) NULL,
	[Enlace] [nvarchar](max) NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Mensajes]  WITH CHECK ADD  CONSTRAINT [FK_Mensajes_Usuario] FOREIGN KEY([EM])
REFERENCES [dbo].[Usuario] ([ID])
GO
ALTER TABLE [dbo].[Mensajes] CHECK CONSTRAINT [FK_Mensajes_Usuario]
GO
ALTER TABLE [dbo].[Mensajes]  WITH CHECK ADD  CONSTRAINT [FK_Mensajes_Usuario1] FOREIGN KEY([RE])
REFERENCES [dbo].[Usuario] ([ID])
GO
ALTER TABLE [dbo].[Mensajes] CHECK CONSTRAINT [FK_Mensajes_Usuario1]
GO
/****** Object:  StoredProcedure [dbo].[AgregarMensaje]    Script Date: 15/09/2020 18:30:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[AgregarMensaje]
@em int,
@re int,
@fe datetime,
@tx nvarchar(MAX)
as

Insert into Mensajes ( EM,RE,FECHA,TEXTO) VALUES (@em,@re, @fe, @tx);
GO
/****** Object:  StoredProcedure [dbo].[AgregarUsuario]    Script Date: 15/09/2020 18:30:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[AgregarUsuario]
@ni nvarchar(10),
@co nvarchar(10),
@no nvarchar(30),
@de nvarchar(50),
@en nvarchar(MAX)
as

if (Select dbo.FunAgregarUsuario(@ni)) is null
begin
Insert into Usuario ( Nick,Contraseña,Nombre,Descripcion,Enlace) VALUES (@ni,@co,@no,@de,@en);
Select ID from Usuario where Nick=@ni;
end
else 
Select '0';
GO
/****** Object:  StoredProcedure [dbo].[EditarUsuario]    Script Date: 15/09/2020 18:30:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[EditarUsuario]
@id int,
@ni nvarchar(10),
@co nvarchar(10),
@no nvarchar(30),
@de nvarchar(50),
@en nvarchar(MAX)
as

Update Usuario set Nick=@ni, Contraseña=@co, Nombre=@no, Descripcion=@de, Enlace=@en where ID=@id;
GO
/****** Object:  StoredProcedure [dbo].[ListarMensajes]    Script Date: 15/09/2020 18:30:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[ListarMensajes]
@ide int,
@idr int
as

Select * from Mensajes where (EM=@ide and RE=@idr) or (EM=@idr and RE=@ide) order by FECHA asc;
GO
/****** Object:  StoredProcedure [dbo].[ListarUsuarios]    Script Date: 15/09/2020 18:30:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[ListarUsuarios]
@IDen int 
as
Select * from Usuario where ID!=@IDen;
GO
/****** Object:  StoredProcedure [dbo].[Logueo]    Script Date: 15/09/2020 18:30:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[Logueo]
@nic nvarchar(10),
@con nvarchar(10)
as
Select * from Usuario where Nick=@nic and Contraseña=@con;
GO
USE [master]
GO
